body {
    background: rgb(61, 53, 164);
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    font-size: 4rem;
    color: #52dadaf1;
    text-shadow: 2px -10px 7px #152020;
}

h2{
    text-align: center;
    text-decoration: none !important;
    font-family: 'Montserrat Subrayada', sans-serif;
}

/* ACUEIL */
    #accueil {
        /* Ex Body */
        /* background-color: rgb(46, 41, 125); */
        font-family: "Yanone Kaffeesatz", sans-serif;

        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        /* PAGE TITLE */
            
        /**/


        /* NAV & Co */
            nav {
                background-color: #6ba3a3;
                padding-top: 1%;
                padding-bottom: 1%;
                border-radius: 15px;
                margin-bottom: 10px;
            }    

            /* RECHERCHE*/
                label {
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                        sans-serif;
                }

                #RchNom {
                    height: 30px;
                    border-radius: 5px;
                    border: unset;
                    padding: 5px;
                    width: 48%;
                }



                /* SUBMIT BUTTON */
                #submit {
                    border-radius: 5px;
                    height: 30px;
                    width: 50px;
                    border: none;
                    background-color: white;
                    padding-bottom: 1px !important;
                    margin-left: 1%;
                    transition: .2s ease-in;
                    &:hover {
                        box-shadow: 3px 3px 12px -5px #000000;
                        background-color: black;
                        color:white;
                        transition: .2s ease-in;
                    }
                }
            /**/

            /* FILTER SUBMIT BUTTONS */
                #triDeSearch input {
                    border-radius: 5px;
                    height: 30.5px;
                    width: 50px;
                    margin-left: 1%;
                    border: none;
                    background-color: white;
                    transition: .2s ease-in;
                    margin-bottom: 0px;
                    padding-top: 2px;
                    &:hover {
                        box-shadow: 3px 3px 12px -5px #000000;
                        background-color: black;
                        color:white;
                        transition: .2s ease-in;
                    }
                }

            /* TRI */
                

                .tri {
                    background-color: #e8eeef;
                    width: 50%;
                    height: 31px;
                    color: rgb(0, 0, 0);
                    font-size: 10px;
                    border: unset;
                    font-size: 14px;

                }

                option {
                    width:50%;
                }

                .triName,
                h2 {
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                        sans-serif;
                }

                h2 {
                    font-weight: 300;
                    font-size: 15pt;
                    margin-top: 21px;
                }
            /**/
        /**/


        /* CARTES */
            main {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 100%;
                opacity: 0.8;
                height: 100%;
                border-radius: 0px 0px 15px 0px;
                z-index: 1;
            }

            a {
                text-decoration: none;
                color: black;
            }
            br {
                line-height: 5px;
            }

            .far {
                font-size: 50px;
                color: #3b5f5f;
            }

            .cartes {
                background-color: #cceccc;
                text-align: center;
                display: flex;
                flex-flow: column;
                width: 300px;
                margin: 1%;
                padding: 1%;
                border-radius: 15px;
                transition: .5s ease;

                &:hover {
                    transition: .5s ease;
                    background-color: #0d0e0d;
                    .far, .Name, .profil, .ville, .age, .portable  {
                        color: #cceccc;
                        text-shadow: 2px 1px 8px #16203b /*#43568B*/;
                        transition: .5s ease;
                    }

                    #CV, #website, #email { color: #cceccc; transition: .5s ease;}
                }
            }



            .Name {
                font-weight: bold;
                font-size: x-large;
                color: #194545;
                margin-top: 20px;
                transition: .5s ease;
            }

            .profil {
                font-weight: bolder;
                font-size: larger;
                color: #194545;
                transition: .5s ease;
            }

            .age, .portable {
                color: #194545;
                transition: .5s ease;
            }

            /* MEDIAS */
                #CV, #website, #email {
                    color: #194545;
                    margin-bottom: 5px;
                    transition-duration: 0.3s ease-in;
                    font-size: 20px;
                    &:hover {
                        color: #4ECFD3;
                        transition-duration: 0.3s ease-in;
                    }
                }
            /*  */

            /* Separateur Buttons */
            span {
                font-size: 15px;
            }

            /* Modification BTN */
                .modifier {
                    margin: 5px;
                    width: 30px;
                    height: 30px;
                    background-color: #42588b;
                    font-weight: bold;
                    border-radius: 15px;
                    border: 0px;
                    opacity: 0.8;
                    z-index: 3;
                    transition: .3s ease;
                    i { color: white; padding-top: 4px; transition: .3s ease;}

                    &:hover {
                        background-color: #cceccc;
                        transition: .3s ease;
                        opacity: 1;
                        border-radius: 5px;
                        i { color: #194545; transition: .3s ease; }
                    }
                }
            /*  */


            /* Suppression BTN */
                .supprimer {
                    margin: 5px;
                    width: 30px;
                    height: 30px;
                    background-color: #42588b;
                    font-weight: bold;
                    transition: .3s ease;
                    border-radius: 45px;
                    border: 0px;
                    opacity: 0.8;
                    z-index: 3;

                    i { color: white; padding-top: 4px; transition: .3s ease;}

                    &:hover {
                        background-color: #cceccc;
                        border-radius: 5px;
                        transition: .3s ease;
                        opacity: 1;

                        i { color: #194545; transition: .3s ease; }
                    }
                }
            /*  */
            

            /* RESPONSIVE */

                /* Full HD */

                /* 3 Cards */
                @media screen and (max-width: 1216px) {
                    .cartes {
                        width: 29%;
                    }

                }

                /* 2 Cards */
                @media screen and (max-width: 806px) {
                    .cartes {
                        width: 45%;
                    }
                    #triDeSearch {
                        flex-flow: row wrap;
                        width: 100%;
                        justify-content: space-around;
                    }

                    h2 {
                        width: 100%;
                        text-align: center;
                    }
                }

                /* 1 Card */
                @media screen and (max-width: 500px) {
                    main {
                        width: 100%;
                    }

                    .cartes {
                        width: 100%;
                    }

                    h2 {
                        width: 100%;
                        text-align: center;
                    }

                }
            /**/

            /* Separator */
                .cardButtons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            /**/

            /* Sticky ADD Button*/
                #ajouter {
                    position: fixed;
                    right: 15px;
                    bottom: 15px;
                    width: 60px;
                    height: 60px;
                    background-color: #194545;
                    font-weight: bold;
                    border-radius: 45px;
                    border: unset;
                    opacity: 0.8;
                    z-index: 3;
                    transition: .5s ease;

                    i { color: white; padding: 2px 0px 0px 0px; transition: .5s ease;}

                    &:hover {
                        background-color: #cceccc;
                        opacity: 1;
                        transition: .5s ease;

                        i {
                            color:#173A4D;
                            transition: .5s ease;
                        }
                    }

                    
                }
            /*  */
        }
        /*  */
/*  */


/* FORMULAIRE */
#formulaire {
    /* background-color: rgb(32, 32, 135); */
    color: white;
    input {
        border-radius: 10px !important;
        border: none;
        &:focus {
            border-color: #000000 !important;
        }
    }

    #age{
        display:flex;
    }


    /* #footerprofil{
        display:flex;
        flex-direction:row;
    } */

    label{
        /* margin-left: 60px; 
        margin-bottom: 1px; */
        font-size: 20px;
        
    }

    /* .labeli{
        margin-left:0px;
    } */

    //Date naissance
    .special1{
        width: 20%;    
        margin-bottom: 20px; 
        margin-top: 20px; 
        background-color: #e8eeef; 
        border-radius: 5px;
        padding: 9px;
        display:block;
        font-size:16px;
        background: #FFFFFF;
    }

    //Age
    .special2{
        width: 55px;    
        margin-left: 60px; 
        margin-bottom: 20px; 
        margin-top: 20px; 
        background-color: #e8eeef; 
        border-radius: 5px;
        padding: 9px;
        display:block;
        font-size:16px;
        background: #FFFFFF;
        background: 
            -webkit-gradient(
                linear, 
                left top, 
                left 25, 
                from(#FFFFFF), 
                color-stop(4%, #EEEEEE), 
                to(#FFFFFF)
            );
        background: 
            -moz-linear-gradient(
                top, 
                #FFFFFF,
                #EEEEEE 1px, 
                #FFFFFF 25px
                );
    }

    //Competences
    .special3{
        justify-content: center;
        display:flex;
        margin-left:0px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }

    hr{
        width:80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .widget{
        
        border: none;
        padding: 9px;
        display:block;
        font-size:16px;
        background: #FFFFFF;
        /* background: 
            -webkit-gradient(
                linear, 
                left top, 
                left 25, 
                from(#FFFFFF), 
                color-stop(4%, #EEEEEE), 
                to(#FFFFFF)
            );
        background: 
            -moz-linear-gradient(
                top, 
                #FFFFFF,
                #EEEEEE 1px, 
                #FFFFFF 25px
                ); */
        /* margin-left: 60px; */
        width: 100%; 
        margin-bottom: 20px; 
        margin-top: 20px;
        margin-right: 0px;

    }

    .widget2{
        border: solid 1px #E5E5E5;
        padding: 9px;
        display:block;
        font-size:16px;
        background: #FFFFFF;
        background: 
            -webkit-gradient(
                linear, 
                left top, 
                left 25, 
                from(#FFFFFF), 
                color-stop(4%, #EEEEEE), 
                to(#FFFFFF)
            );
        background: 
            -moz-linear-gradient(
                top, 
                #FFFFFF,
                #EEEEEE 1px, 
                #FFFFFF 25px
                );
        width: 100%; 
        margin-bottom: 20px; 
        margin-top: 20px;
        margin-right: 0px;
        
    }

    .widget3{
        border: solid 1px #E5E5E5;
        margin: 5px 30px 10px 30px;
        padding: 9px;
        display:block;
        font-size:16px;
        background: #FFFFFF;
        background: 
            -webkit-gradient(
                linear, 
                left top, 
                left 25, 
                from(#FFFFFF), 
                color-stop(4%, #EEEEEE), 
                to(#FFFFFF)
            );
        background: 
            -moz-linear-gradient(
                top, 
                #FFFFFF,
                #EEEEEE 1px, 
                #FFFFFF 25px
                );
        
        width:100%;
    }

    .widget4{
        display:block;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        border-radius: 5px;
        border: unset;
        input[type=button] {
            background-color: #42588b;
        }
    }

    .contenu{
        /* Uniquement centrer le formulaire sur la page */
        margin: 0 auto;
        width: 1200px;
        padding: 1em;
        border-radius: 1em;
        background:rgba(204, 236, 204, 0.7);
        font-size:16px;
        margin-top: 50px;
    }

    #colonnesfiche{
        display: flex;
        width: 100%;
    }

    #footer{
        display: flex;
    }
    

    .widget5{
        padding:6px 0 6px 0;
        background:#f5f5f5;
        color:rgb(0, 0, 0);
        border-radius: 10px;
        height: 40px;
        width: 330px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: bolder;
        border: unset;
        font-size: 20px;
        letter-spacing: 5px;
        transition: .3s ease;

        &:hover {
            background:#1d1d1d;
            color:white;
            transition: .3s ease;
        }
    }

    input[type=button] {
        height: 100px;
    }

    /* RESPONSIVE */
        /* @media screen and (max-width:1216px){
                    
                #colonne1fiche{
                    width:90%;
                }
                
                #colonne2fiche{
                    width:90%;
                }
                
                    
                .widget{
                    width:70%;
                }
                
                .widget2{
                    width:80%;
                }
                
                .widget4{
                    display:flex;
                    margin:10px auto 10px auto;
                }
                
                #colonnesfiche{
                    display:flex;
                }
                
                .contenu{
                    width:90%;
                }
                .colonneprofil{
                    width:30%;
                }
                
        }

        @media screen and (max-width:850px){
                .widget{
                    width:80%;
                }
                
                .widget2{
                    width:80%;
                }
                
                .widget4{
                    display:flex;
                    margin:10px auto 10px auto;
                }
                
                #colonnesfiche{
                    display:flex;
                flex-direction: column;
                }
                
                .contenu{
                    width:90%;
                }
                
                #labelcv{
                    margin:0 0 0 0;
                }
                
        }

        @media screen and (max-width:550px){

            .widget{
                width:70%;
            }
            
            .widget2{
                width:100%;
            }
            
            .widget4{
                display:flex;
                margin:10px auto 10px auto;
            }
            
            .special1{
                width:20%;
            }
            .special2{
                width:20%;
            }
            
            #colonnesfiche{
                display:flex;
            flex-direction: column;
            }
            
            .contenu{
                width:80%;
            }
            #footerprofil{
                display:flex;
            flex-direction: column;
            }
            .colonneprofil{
                width:70%;
            }
        } */
   /*  */

   /* RETURN BUTTON */
        #retour { 
            position: sticky;
            left:15px;
            top:15px;
            width:60px;
            height:60px;
            background-color: #194545;
            font-weight: bold;
            transition-duration: 0.4s;
            border-radius: 45px;
            border:0px;
            opacity: 0.8;
            z-index: 3;
        }

        i {
            color: white; padding: 2px 0px 0px 0px; transition: .5s ease;
        }

        #retour:hover {
            background-color: #cceccc;
            opacity: 1;
            transition: .5s ease;
            i {
                color:#173A4D;
                transition: .5s ease;
            }
        }
                        
    /*  */
}    
/*  */
		