/*
font-family: 'New Tegomin', serif;
font-family: 'Original Surfer', cursive;
font-family: 'Zen Dots', cursive; 

Palette URL: http://paletton.com/#uid=51C1p0khpOe2HU9aNPBm+QUsKVR
*/

*, ::after, ::before {
  margin: 0;
  padding-bottom: 0;
}

body {
  background-color: #eff1f6;
  margin: 0;
}

/* ======== PAGE CONTENT ======== */
#pageContent {
  margin-top: 90px;
}

#pageContent > h1 {
	font-family: 'New Tegomin', serif;
  font-size: 3.5em;
	text-align: center;
	color: #94cbba;
	text-shadow: 4px 6px 4px #7c5b5c;
	letter-spacing: 1pt;
}

/*  ==== SECTION DE RECHERCHE & DE FILTRE ==== */
#nav {
  background-color: #94cbba;
  padding: 20px 0 30px;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
}
#nav input {
  width: 65%;
  display: inline;
}

#search, #filter, #searchFilter {
  font-family: 'Original Surfer', cursive;
}
#search, #filter {
  color: #254d71;
}

/* ==== RECHERCHE ==== */
#search {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
#search label {
  margin-right: 2%;
  margin-bottom: 5px;
  font-size: 20px;
  width: 100%;
}
#search input {
  border-radius: 5px;
  border: none;
}

#submit {
  border-radius: 5px;
  height: 30px;
  width: 28%;
  border: none;
  color: #254d71;
  background-color: #da9288;
  margin-left: 10px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}
#submit:hover {
  box-shadow: 3px 3px 12px -5px #000000;
  background-color: #254d71;
  color: #da9288;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

/* ==== FILTRES ==== */
#filter {
  margin-left: 20px;
  width: 80%;
  font-size: 20px;
}

#searchFilter {
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.triFilter {
  width: 60%;
  height: 31px;
  color: #707070;
  font-size: 10px;
  border: unset;
  font-size: 14px;
  border-radius: 5px;
}

#searchFilter input {
  border-radius: 5px;
  height: 30.5px;
  width: 30%;
  margin-left: 1%;
  border: none;
  color: #254d71;
  background-color: #da9288;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  margin-bottom: 0px;
  padding-top: 2px;
}
#searchFilter input:hover {
  box-shadow: 3px 3px 12px -5px #000000;
  background-color: #254d71;
  color: #da9288;
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 3pt;
}

option {
  width: 50%;
}

/* ==== AFFICHAGE DES CARTES ==== */
#cardContainer {
    margin: 50px 0 90px;
    display: grid;
    gap: 20px;
    justify-content: center;
}

 .card {
  font-family: 'New Tegomin', serif;
  background-color: #254d71;
  text-align: center;
  border-radius: 15px;
  transition: 1s ease;
  min-width: 290px;
}
 /* Boutons en haut de carte */
.cardButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
} 

.modify, .delete  {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #62d1b4;
  border-radius: 50%;
  border: none;
  opacity: 0.8;
  -webkit-transition: background-color .3s ease-in, border-radius .3s linear;
  transition: background-color .3s ease-in, border-radius .3s linear;
}

.modify i, .delete i  {
  color: #29526f;
  padding-top: 4px;
  -webkit-transition: .3s ease-out .2s;
  transition: .3s ease-out .2s;
}
.modify:hover, .delete:hover  {
  background-color: #29526f;
  -webkit-transition: border-radius .3s ease-in, background-color .3s linear;
  transition: border-radius .3s ease-in, background-color .3s linear;
  opacity: 1;
  border-radius: 5px;
}
.modify:hover i, .delete:hover i {
  color: #da9288;
  -webkit-transition: .3s ease;
  transition: .3s ease-in;
}

.card, .name, .profil, .age, .portable {
  color: #f9bab2;
}
/* Corps de carte */ 
.name {
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
}

.profil {
  font-weight: bolder;
  font-size: larger;
}

.card:hover {
  background-color: #f9bab2;
}
 .card:hover .far, .card:hover .name, .card:hover .profil, .card:hover .ville, .card:hover .age, .card:hover .portable {
  color: #29526f;
}

#CV, #website, #email {
  color: #29526f;
  margin-bottom: 10px;
  font-size: 20px;
}
#CV:hover, #website:hover, #email:hover  {
  color: #62d1b4;
}

/* ==== BOUTON REDIRECTION FORMULAIRE AJOUT ==== */
#add {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background-color: #da9288;
  font-weight: bold;
  border-radius: 45px;
  border: unset;
  opacity: 0.8;
  z-index: 3;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#add i {
  color: white;
  padding: 2px 0px 0px 0px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#add:hover {
  background-color: #62d1b4;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#add:hover i {
  color: #29526f;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#add > a {
  text-decoration: none;
  color: #f9bab2;
}

/* ==== FOOTER ==== */
#footer {
  font-family: 'Original Surfer', cursive;
  font-size: 1.1em;
  padding: 20px 0 10px;
  height: 80px;
  width: 100%;
  background-color: #254d71;
  color: #da9288;
  border-radius: 10px 10px  0 0;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer p {
  display: flex;
  align-items: center;
}
#footerSymbols {
  font-size: 1.6em;
  align-items: center;
  margin-right: 8%;
}

/* ============= MEDIA QUERIES ============= */

/* ====== ECRAN 600 PX ====== */
@media screen and (min-width: 600px) {
  #nav {
    width: 95%;
  }
  #submit {
    width: 14%;
  }
}

/* ====== ECRAN 767 PX ====== */
@media screen and (min-width: 767px) {
  #header {
    grid-template-columns: 80px 200px 1fr;
    align-items: center;
  }
  #header > a {
    font-size: 0.5em;
  }
  #headerNav {
    position: static;
    background-color: transparent;
    display: block !important;
  }
  #headerNav ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    margin-top: -1px;
  }
  #headerNav a {
    font-size: 1.1em;
    padding: 0 10px;
    border-bottom: 0px solid #da9288;
    transition: border-width .2s, color .2s .2s;
    margin: 0;
  }
  #headerNav a:hover {
    color: #da9288;
    border-bottom: 3px solid #da9288;
    transition: color .2s, border-width .2s .2s;
  }
  #menuToggle {
      display:  none;
  }
	#pageContent > h1 {
    font-size: 6em;
		font-weight: 500;
		letter-spacing: 2pt;
	}
  #nav {
    width: 90%;
  }
  #searchFilter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #cardContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 60px auto 90px;

  }
  .card {
    width: 100%;
  }
}

/* ====== ECRAN 1024 PX ====== */
@media screen and (min-width: 1024px) {
  #nav {
    width: 95%;
  }
  #search input {
    width: 50%;
  }
  #submit {
    width: 15%;
  }
  #searchFilter input {
    width: 25%;
  }

  #cardContainer {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: 60px auto 90px;
  }
}

/* ====== ECRAN 1200 PX ====== */
@media screen and (min-width: 1200px) {
  #cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
  #search input {
    width: 40%;
  }
  #submit {
    width: 10%;
  }

}

/* ====== ECRAN 1600 PX ====== */
@media screen and (min-width: 1600px) {
  #cardContainer {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px
  }
  #submit {
    width: 5%;
  }

}

